body {
	background-image: url('../images/wall.jpg');
	font-size: 88%;
	font-family: Arial, 'Lucida Sans Unicode';
	line-height: 1.5;
	text-align: left;
}
.body {
	margin:0 auto;
	width: 70%;
	clear: both;
}
.mainheader img{
	width: 30%;
	height: auto;
	margin: 2% 0; 
}
.mainheader nav {
	background-color: #068587;
	height: 40px;
	border-radius: 5px;
}
.mainheader nav ul {
	list-style: none;
	margin:0 auto;
}
.mainheader nav ul li{
	float: left;
	display: inline;
}
.mainheader nav a:link, .mainheader nav a:visited {
	color: white;
	display: inline-block;
	padding: 10px 25px;
	height: 25px;
	
}
.mainheader nav a:hover, .mainheader nav a:active,
.mainheader nav .active a:link, .mainheader nav .active a:visited {
	background-color: #9e4242;
	color: white;
	border-radius: 5px;
}
.mainheader nav ul li a {
	border-radius: 5px;
}
.mainheader {

}
.mainContent {
	clear: both;
	line-height: 25px;
	border-radius: 5px;
}
.content {
	width: 70%;
	float: left;
}
.contentIntro {
	width: 100%;
	float: left;
}
.topContent {
	background-color: white;
	border-radius: 5px;
	padding: 3% 5%;
	margin-top: 2px;
}
.bottomContent {
	background-color: white;
	border-radius: 5px;
	padding: 3% 5%;
	margin-top: 2px;
}
.topSideBar {
	width: 21%;
	float: left;
	background-color: white;
	margin-left: 3%;
	border-radius: 5px;
	padding: 2% 3%;
	margin-bottom: 2%;
	margin-top: 2%;
}
.topSideBar img {
	width: 96px;
	height: 100px;
}
.middleSideBar {
	width: 21%;
	float: left;
	background-color: white;
	margin-left: 3%;
	border-radius: 5px;
	padding: 2% 3%;
	margin-bottom: 1%;
}
.bottomSideBar {
	width: 21%;
	float: left;
	background-color: white;
	margin-left: 3%;
	border-radius: 5px;
	padding: 2% 3%;
	margin-bottom: 2%;
}
footer{
	width: 100%;
	float: left;
	border-radius: 5px;
	background-color: #068587;
	margin-top: 2%;
	margin-bottom: 2%;
}
footer p {
	width: 92%;
	margin: 2% auto;
	color: white;
	text-align: center;
}
a {
	text-decoration: none;
}
a:link, a:visited {
	color: #9e4242;
}
a:hover, a:active {
	background-color: #9e4242;
	color: white
}

@media only screen and (min-width: 150px) and (max-width: 600px) {
	.body {
	width: 90%;
	font-size: 95%;
	}
	.mainheader img{
	width: 100%;
	}
	.mainheader nav {
	height: 200px;
	}
	.mainheader nav ul {
		padding-left: 0;
	}
	.mainheader nav ul li{
		width: 100%;
		margin:0 auto;
		text-align: center;
	}
	.mainheader nav a:link, .mainheader nav a:visited {
		padding: 8px 25px;
		height: 25px;
		display: block;
	}
	.content {
		width: 100%;
		float: left;
		margin-top: 1%;
	}

	.topContent {
		background-color: white;
		border-radius: 5px;
		padding: 3% 5%;
		margin-top: 2px;
	}
	.bottomContent {
		background-color: white;
		border-radius: 5px;
		padding: 3% 5%;
		margin-top: 2px;
	}
	.topSideBar {
		width: 94%;
		margin-left: 0%;
		padding: 2% 3%;
		margin-bottom: 2%;
		margin-top: 2%;
	}
	.middleSideBar {
		width: 94%;
		margin-left: 0%;
		padding: 2% 3%;
		margin-bottom: 2%;
		margin-top: 2%;
	}
	.bottomSideBar {
		width: 94%;
		margin-left: 0%;
		padding: 2% 3%;
		margin-bottom: 2%;
		margin-top: 2%;
	}

}